---
import background from '../assets/background.svg';
import { TextHoverEffect } from './ui/text-hover-effect';
import { SparklesCore } from "../components/ui/sparkles";
---

<div class="h-full">
	<img class="fixed top-0 left-0 w-full h-full -z-10 blur-[100px]" src={background.src} alt="" fetchpriority="high" />
	<main class="h-full">
      <div class="h-full relative w-full flex flex-col items-center justify-center overflow-hidden rounded-md">
      <div class="w-full absolute inset-0 h-screen">
        <SparklesCore
          id="tsparticlesfullpage"
          background="transparent"
          minSize={0.6}
          maxSize={1.4}
          particleDensity={10}
          className="w-full h-full"
          particleColor="#FFFFFF"
          speed={0.5}
          client:visible
        />
      </div>
      <!-- <TextHoverEffect text='NotScripter' client:visible /> -->
      <h1 class="md:text-7xl text-3xl lg:text-6xl font-bold text-center text-white relative z-20">
        NotScripter
      </h1>
    </div>
	</main>
</div>
